footer{
    background-color: $green-bg;
    color: $white;

    a{
        color: $white;
    }

    .footer-contain{
        padding: 70px 0 70px 0 ;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        @media (max-width: 1227px){ 
            width: 50%;
        }
        @media (max-width: 892px){ 
            flex-direction: column;
        }
        .cr{
            .logo{
                width: 250px;
                @media (max-width: 525px){ 
                    width: 200px;
                }
                @media (max-width: 402px){ 
                    width: 170px;
                }
            }

        }


        .footer-title{
            text-transform: uppercase;
            font-weight: bold;
        }

        
        li, .footer-title, .logo{
            margin-bottom: 25px;
        }

        .location{
            margin-bottom: 40px;
        }

        @media (max-width: 892px){ 
            .cr, .info{
                @media (max-width: 892px){ 
                    margin-bottom: 50px;
                }
            }
        }

    }
}