header{
    background-color: $green-bg;
    color: $white;
    height: 100vh;
    @media (max-width: 1227px){ 
        height: 70vh;
    }
    @media (max-width: 490px){ 
        height: 85vh;
    }

    a{
        color: $white;
        font-weight: bold;
    }

    .header-top{
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        .logo{
            width: 150px;
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                display: inline-block;
                padding-right: 40px;
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }

    .header-contain{
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(-10px);
        @media (max-width: 1227px){ 
            height: 80%;
        }

        .info{
            width: 30%;
            margin-right: 100px;
            @media (max-width: 1464px){ 
                width: 40%;
            }
            @media (max-width: 1227px){ 
                margin-right: 0px;
                width: 80%;
                margin-top: 25px;
            }

            @media (max-width: 551px){ 
                width: 90%;
            }

            .title-site{
                font-size: 5rem;
                font-weight: bold;
                @media (max-width: 490px){ 
                    width: 100%;
                    font-size: 4rem;
                }
                @media (max-width: 391px){ 
                    font-size: 3rem;
                }
            }

            .slogan{
                font-weight: bold;
                font-size: 2rem;
                margin: 10px 0 35px 0;
                @media (max-width: 1700px){ 
                    font-size: 1.5rem;
                }
                

            }

            .descr-app{
                line-height: 1.2;
                margin-bottom: 25px;
                @media (max-width: 1227px){ 
                    line-height: 1.5;
                }
            }
        }

        .app-visu-img{
            width:500px;

            @media (max-height: 840px){ 
                width: 400px;
            }
            @media (max-width: 1227px){ 
                display: none;
            }
        }
    }


    .scroll{
        opacity: 0;
        font-size: 0.9rem;
        position: absolute;
        bottom: 3%;
        right: 50%;
        margin: auto;
        @media (max-width: 1227px){ 
            display: none;
        }
        .mouse{
            width: 3px;
            padding: 7px 13px;
            height: 35px;
            border: 2px solid $white;
            border-radius: 25px;
            opacity: 0.75;
            box-sizing: content-box;

            .scroller{
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background-color: $white;
                animation-name: scroll;
                animation-duration: 2.2s;
                animation-timing-function: cubic-bezier(.15,.41,.69,.94);
                animation-iteration-count: infinite;
                
            }
            @keyframes scroll {
                0% { opacity: 0; }
                10% { transform: translateY(0); opacity: 1; }
                100% { transform: translateY(15px); opacity: 0;}
            }
        }
        .text-scroll{
            margin-top: 10px;
        }
    }
}