#how-it-works{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    @media (max-width: 1227px){ 
        margin: 0 0 70px 0;
        flex-direction: column;
    }

    .subsection{
        width: 70%;
        // ça sera plus pratique pour vous de mettre la valeur de vos breakpoints dans des variables
        @media (max-width: 1227px){ 
            width: 100%;
        }

        .phone-mobile-container{
            display: none;
            @media (max-width: 1227px){ 
                display: block;
                display: flex;
                justify-content: center;
                margin-top: 50px;
            }
            .phone-mobile{
                width: 200px;
                height: 100%;
            }
        }
    }   
    
    .app_visu{
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0!important;
        @media (max-width: 1227px){ 
            display: none;
        }

        .phone{
            height: 80vh;
            @media (max-width: 1227px){ 
                height: auto;
            }
            
        }
    }

    .step{
        height: 500px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        @media (max-width: 1227px){ 
            height: 100%;
            padding-bottom: 20px;
        }
        @media (max-width: 1227px){ 
            flex-direction: column;
        }
    }

    .step1{
        margin-top: 100px;
    }

    .explication{
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 1227px){ 
            width: 100%;
        }

        .step-name{
                font-weight: bold;
                font-size: 1.2rem;
                color: $green-bg;
            }

            .step-title{
                font-weight: bold;
                font-size: 2rem;
                margin: 20px 0 35px 0;
                color: $green;
            }
        }
    }