.how-it-works{
    margin-top: 150px;
    margin-bottom: 200px;
    height: 1800px;

    .step{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;

        .explication{
            line-height: 1.2;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .step-name{
                color: $green-bg;
                font-weight: bold;
                font-size: 1.2rem;
            }

            .step-title{
                color: $green-bg;
                font-weight: bold;
                font-size: 2rem;
                margin: 20px 0 35px 0;
            }
        }

        .phone-container{
            width: 300px;
            height: 600px;

            .phone{
                width: 300px;
            }

            .livraison-app{
                visibility: hidden;
            }
        }
        .phone-2{
            transform: translateY(553px);
        }


        .phone{
            width: 300px;

            .phone-img{
                width: 300px;
            }
        }

        .info-inscription{
            margin-top: 5%;
        }

    }




    .commande{
        transform: translateY(-1100px);
    }

    .livraison{
        transform: translateY(-900px);
    }
    
}