@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
header {
  background-color: #169794;
  color: #f4f8fe;
  height: 100vh;
}

@media (max-width: 1227px) {
  header {
    height: 70vh;
  }
}

@media (max-width: 490px) {
  header {
    height: 85vh;
  }
}

header a {
  color: #f4f8fe;
  font-weight: bold;
}

header .header-top {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
}

header .header-top .logo {
  width: 150px;
}

header .header-top nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top nav li {
  display: inline-block;
  padding-right: 40px;
}

header .header-top nav li:last-child {
  padding-right: 0;
}

header .header-contain {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 1227px) {
  header .header-contain {
    height: 80%;
  }
}

header .header-contain .info {
  width: 30%;
  margin-right: 100px;
}

@media (max-width: 1464px) {
  header .header-contain .info {
    width: 40%;
  }
}

@media (max-width: 1227px) {
  header .header-contain .info {
    margin-right: 0px;
    width: 80%;
    margin-top: 25px;
  }
}

@media (max-width: 551px) {
  header .header-contain .info {
    width: 90%;
  }
}

header .header-contain .info .title-site {
  font-size: 5rem;
  font-weight: bold;
}

@media (max-width: 490px) {
  header .header-contain .info .title-site {
    width: 100%;
    font-size: 4rem;
  }
}

@media (max-width: 391px) {
  header .header-contain .info .title-site {
    font-size: 3rem;
  }
}

header .header-contain .info .slogan {
  font-weight: bold;
  font-size: 2rem;
  margin: 10px 0 35px 0;
}

@media (max-width: 1700px) {
  header .header-contain .info .slogan {
    font-size: 1.5rem;
  }
}

header .header-contain .info .descr-app {
  line-height: 1.2;
  margin-bottom: 25px;
}

@media (max-width: 1227px) {
  header .header-contain .info .descr-app {
    line-height: 1.5;
  }
}

header .header-contain .app-visu-img {
  width: 500px;
}

@media (max-height: 840px) {
  header .header-contain .app-visu-img {
    width: 400px;
  }
}

@media (max-width: 1227px) {
  header .header-contain .app-visu-img {
    display: none;
  }
}

header .scroll {
  opacity: 0;
  font-size: 0.9rem;
  position: absolute;
  bottom: 3%;
  right: 50%;
  margin: auto;
}

@media (max-width: 1227px) {
  header .scroll {
    display: none;
  }
}

header .scroll .mouse {
  width: 3px;
  padding: 7px 13px;
  height: 35px;
  border: 2px solid #f4f8fe;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

header .scroll .mouse .scroller {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #f4f8fe;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

header .scroll .text-scroll {
  margin-top: 10px;
}

.how-it-works {
  margin: 100px 0 200px 0;
  height: 100%;
}

.how-it-works .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

@media (max-width: 1227px) {
  .how-it-works .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
}

.how-it-works .step .explication {
  line-height: 1.2;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1227px) {
  .how-it-works .step .explication {
    width: 100%;
  }
}

.how-it-works .step .explication .step-name {
  color: #169794;
  font-weight: bold;
  font-size: 1.2rem;
}

.how-it-works .step .explication .step-title {
  color: #169794;
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0 35px 0;
}

.how-it-works .step .phone-container {
  width: 300px;
  height: 600px;
}

@media (max-width: 1227px) {
  .how-it-works .step .phone-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 70px 0 70px 0;
  }
}

.how-it-works .step .phone-container .phone {
  width: 300px;
}

.how-it-works .step .phone-container .phone .phone-img {
  width: 300px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.how-it-works .step .phone-container .livraison-app {
  visibility: hidden;
}

@media (max-width: 1227px) {
  .how-it-works .step .phone-container .livraison-app {
    visibility: visible;
  }
}

.how-it-works .step .phone-2 {
  -webkit-transform: translateY(575px);
          transform: translateY(575px);
}

@media (max-width: 1227px) {
  .how-it-works .step .phone-2 {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 1227px) {
  .how-it-works .step .phone-2 .commande-app {
    display: none;
  }
}

.how-it-works .step .info-inscription {
  margin-top: 5%;
}

footer {
  background-color: #169794;
  color: #f4f8fe;
}

footer a {
  color: #f4f8fe;
}

footer .footer-contain {
  padding: 70px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 892px) {
  footer .footer-contain {
    width: 50%;
  }
}

@media (max-width: 892px) {
  footer .footer-contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-contain .cr .logo {
  width: 250px;
}

@media (max-width: 525px) {
  footer .footer-contain .cr .logo {
    width: 200px;
  }
}

@media (max-width: 402px) {
  footer .footer-contain .cr .logo {
    width: 170px;
  }
}

footer .footer-contain .footer-title {
  text-transform: uppercase;
  font-weight: bold;
}

footer .footer-contain li, footer .footer-contain .footer-title, footer .footer-contain .logo {
  margin-bottom: 25px;
}

footer .footer-contain .location {
  margin-bottom: 40px;
}

@media (max-width: 892px) and (max-width: 892px) {
  footer .footer-contain .cr, footer .footer-contain .info {
    margin-bottom: 50px;
  }
}

.back {
  opacity: 0;
  position: absolute;
  left: 50px;
  top: 30px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back .back-icn {
  width: 25px;
}

.back .back-text {
  margin-left: 15px;
  color: #f4f8fe;
  font-weight: bold;
}

.contact-contain {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #169794;
}

.contact-contain .title {
  margin-bottom: 30px;
}

.contact-content {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 80%;
  margin: 0 auto;
}

.contact-content .box {
  width: 50%;
  padding: 35px;
}

.contact-content .info {
  color: #f4f8fe;
  background-color: #107775;
  border-radius: 28px 0 0 28px;
}

.contact-content .info .informations {
  margin-top: 40px;
}

.contact-content .info .informations .list-informations .item-informations {
  margin-bottom: 20px;
}

.contact-content .info .informations .list-informations .item-informations:before {
  color: #8AEAE8;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 15px;
  vertical-align: middle;
}

.contact-content .info .informations .list-informations .adress:before {
  content: "\f3c5";
}

.contact-content .info .informations .list-informations .mail:before {
  content: "\f0e0";
}

.contact-content .info .informations .list-informations .phone:before {
  content: "\f879";
}

.contact-content .info .follow {
  margin-top: 40px;
}

.contact-content .info .follow .list-sn {
  margin-top: 25px;
}

.contact-content .formulaire-contact {
  color: #1A1A1A;
  position: relative;
  background-color: #f4f8fe;
  border-radius: 0 28px 28px 0;
}

.contact-content .formulaire-contact .title {
  color: #107775;
}

.contact-content .formulaire-contact:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #f4f8fe;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 80px;
  left: -13px;
}

.conteneur-el-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.conteneur-el-form textarea {
  margin-top: 20px;
}

.conteneur-el-form:last-child {
  margin-bottom: 0;
}

.conteneur-el-form input, .conteneur-el-form textarea {
  margin-top: 15px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 10px;
  padding-left: 10px;
}

.conteneur-el-form textarea {
  padding-top: 10px;
}

/*
    Pour définir une taille uniquement sur les champs text et email, on utilise l'attribut 
  */
input:invalid, textarea:invalid {
  border: 2px solid #1A1A1A;
}

input:valid, textarea:valid {
  border: 2px solid #107775;
}

.conteneur-el-form label,
.conteneur-el-form .champ-requis {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-size: 1.125rem;
  font-weight: bold;
}

.conteneur-el-form label.radio {
  font-weight: normal;
}

input[type="text"][required] ~ label:after,
input[type="email"][required] ~ label:after,
textarea[required] ~ label:after,
.champ-requis:after {
  content: " *";
  color: red;
  font-weight: bold;
}

input, textarea {
  border-radius: 15px;
}

textarea {
  resize: none;
  height: 100px;
}

.titre-contact {
  font-size: 3rem;
  font-weight: bold;
  color: var(--violet-u-cergy);
  margin-top: 25px;
  margin-bottom: 25px;
}

.liste-choix-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.liste-choix-radios li {
  margin-right: 15px;
}

.btn-soumission {
  margin-top: 25px;
  font-size: 1.5rem;
  background-color: #169794;
  color: #f4f8fe;
  border: none;
  border-radius: 28px;
  padding: 17px 65px;
}

.btn-soumission-conteneur {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url("../fonts/gt-walsheim-regular.woff2") format("woff2"), url("../fonts/gt-walsheim-medium.woff2") format("woff2"), url("../fonts/gt-walsheim-light.woff2") format("woff2");
}

body {
  font-family: 'GT Walsheim', Arial, Helvetica, sans-serif;
  color: #1A1A1A;
  font-size: 1.2rem;
  background-color: #f4f8fe;
}

body a {
  text-decoration: none;
}

body .title {
  font-size: 2rem;
  font-weight: bold;
}

body strong {
  font-weight: 500;
  font-size: 3.5rem;
}

body .subtitle {
  font-size: 1.3rem;
  font-weight: bold;
}

body .descr {
  line-height: 1.2;
}

body .hover:hover {
  color: #8AEAE8;
  -webkit-transition: color .3s;
  transition: color .3s;
}

body .link-hover {
  position: relative;
}

body .link-hover:before {
  content: "";
  position: absolute;
  background: #8AEAE8;
  width: 100%;
  height: 2px;
  bottom: -3px;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

body .link-hover:hover:before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .follow {
  margin-top: 20px;
}

body .follow .list-sn {
  font-size: 1.3rem;
}

body .follow .list-sn li {
  display: inline-block;
  margin-right: 10px;
}

body .follow .list-sn li .sn {
  -webkit-transition: color .3s;
  transition: color .3s;
}

body .intro {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 2.8rem;
}

@media (max-width: 542px) {
  body .intro {
    font-size: 2rem;
  }
}

@media (max-width: 396px) {
  body .intro {
    font-size: 1.7rem;
  }
}

body .page-container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1227px) {
  body .page-container {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.button-contact {
  position: relative;
  padding: 19px 22px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button-contact:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #107775;
  width: 56px;
  height: 56px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.button-contact span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: .15em;
  text-transform: uppercase;
  vertical-align: middle;
}

.button-contact svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #f4f8fe;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.button-contact:hover:before {
  width: 100%;
  background: #107775;
}

.button-contact:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.button {
  position: relative;
  cursor: pointer;
  -webkit-transition: background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button-contact {
  position: relative;
  cursor: pointer;
  -webkit-transition: background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 1227px) {
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}

.button-container .button-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  background: #107775;
  border-radius: 28px;
  width: 171px;
}

.button-container .button-download .text-btn {
  margin: 0;
  padding: 16px 25px;
  list-style: none;
  text-align: center;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #f4f8fe;
}

.button-container .button-download .arrow {
  position: relative;
  width: 50px;
  height: 60px;
  background: #8AEAE8;
}

.button-container .button-download .arrow:before {
  content: '↓';
  font-size: 1.4rem;
  color: #1A1A1A;
  display: block;
  position: absolute;
  top: 42%;
  left: 40%;
  margin: -9px 0 0 -1px;
}

.download {
  height: 100vh;
  background-color: #107775;
  position: relative;
}

.download .download-contain {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download .download-contain .download-title {
  line-height: 1.4;
  color: white;
}

.download .download-contain .download-card {
  margin-top: 50px;
}

.download .download-contain .download-card .img-card {
  width: 200px;
}

.download .download-contain .download-card .apple-card {
  margin-left: 15px;
  width: 180px;
}

.download .download-contain .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download .download-contain .offer .offer-details {
  width: 50vh;
  height: 80vh;
  background-color: #f4f8fe;
  border-radius: 28px;
}
/*# sourceMappingURL=style.css.map */